.temp-rate {
  width: 450px;
  display: grid;
}

.heart-rate {
  width: 450px;
  display: grid;
}

.header {
  align-self: center;
  justify-self: center;
  // margin-bottom: -24px;
}

.date {
  font-style: italic;
  padding: 0;
  // margin: 0;
}